.info__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.info__data {
	margin-top: 1.5rem;
	text-align: center;
	padding: 0.8rem;
}

.info__name {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 0.2rem;
}

.info__role {
	font-size: 12.8px;
	color: rgb(243, 191, 153);
	margin-bottom: 0.2rem;
}

.info__website {
	font-size: 10.24px;
}

.info__buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.info__email-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 34px;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 14px;
	margin-right: 1rem;
	cursor: pointer;
}

.info__linkedin-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 34px;
	border: none;
	border-radius: 5px;
	background-color: rgb(80, 147, 226);
	color: rgb(255, 255, 255);
	font-size: 14px;
	cursor: pointer;
}

.info__email-btn img,
.info__linkedin-btn img {
	margin-right: 0.5rem;
}
