.interests__container {
	width: 247px;
	margin-top: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	background-color: rgb(26, 27, 33);
}

.interests__title {
	font-size: 1rem;
	color: rgb(245, 245, 245);
	margin-bottom: 0.3rem;
}

.interests__text {
	font-size: 10.24px;
	color: rgb(220, 220, 220);
}
